<div class="small-12 small centered columns">

  <h1 class="homeheader text-center">Simple Social</h1>


  <div id="signupModal" class="reveal-modal small" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <%= render 'devise/registrations/sign_up' %>
  </div>

  <div id="signinModal" class="reveal-modal small" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <%= render 'devise/sessions/sign_in' %>
  </div>

</div>



