<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
    </div>
    <h1>Simple Social</h1>
    <hr />

    <div class="row">
      <div class="small-6 columns">
        <h3><a href="#">Hello!</a></h3>

        <p>Simple Social provides an easy way to find events going on
        that match your interests. Sign up, select the things that you enjoy, and you will be automatically notified of events that match
        your preferences. Don't see any events going on that interest you? Create one! Want to add anything to the interest list? Contact us and let us know!</p>
      </div>

      <div class="small-6 columns container">
        <%= image_tag 'bg_image/walking.jpg' %>
      </div>
    </div>
  </div>
</div>
