  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
      </div>
      <h1>Simple Social</h1>
      <hr />
    </div>
  </div>

  <div class="row">

    <div class="large-12 columns medium-2 columns" role="content">

      <article>

        <h3><a href="#">Hello!</a></h3>

        <div class="row">
          <div class="large-6 columns">
            <p>Simple Social provides an easy way to find events going on
            that match your interests. Sign up, select the things that you enjoy, and you will be automatically notified of events that match
            your preferences. Don't see any events going on that intereste you? Create one! Want to add anything to the interest list? Contact us and let us know!</p>
          </div>
          <div class="large-6 columns" id="walking">
          </div>
        </div>
    </div>
  </div>


