/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require foundation_and_overrides
 *= require responsive-tables
 *= require_tree .
 *= require_self
 */


 .body {
  background: #D9D2FF;
}

ul {
  list-style: none;
}

a[data-reveal-id] h3 {
    color: inherit;
}

.pages-body{
  min-height: 100%;
  min-width: 1024px;

  /* proportionate scaling */
  width: 100%;
  height: auto;

  /* positioning */
  position: fixed;
  top: 0;
  left: 0;
  background: url("bg_image/walking.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .pages-body {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}













