.body {
  background: #D9D2FF;
}

ul {
  list-style: none;
}

a[data-reveal-id] h3 {
    color: inherit;
}

nav.top-bar ul.title-area { margin-right:11px; } //adds margin to the right of the logo

// .pages{
//   min-height: 100%;
//   min-width: 1024px;

//   /* proportionate scaling */
//   width: 100%;
//   height: auto;

//   /* positioning */
//   position: fixed;
//   top: 0;
//   left: 0;
//   background: url("bg_image/walking.jpg") no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

// @media screen and (max-width: 1024px) { /* Specific to this particular image */
//   .pages {
//     left: 50%;
//     margin-left: -512px;   /* 50% */
//   }
// }

// .div#walking {
//   background-image: url("bg_image/walking.jpg");
//   background-repeat: no-repeat;
// }

// .container {
//     width: 400px;
//     height: 130px;
// }

/* resize images */
.container img {
    width: 100%;
    height: auto;
}


.checkbox {
  .fa-check-square-o { display: none; }
  &:hover {
    background-color: navy;
  }
}

.checkbox-checked {
  .fa-square-o { display: none; }
  .fa-check-square-o { display: inline; }
  background-color: pink;

  &:hover {
    background-color: navy;
  }
}

.homeheader {
  font-family: helvetica;
  letter-spacing:3px;
  font-size: 650%;
  font-weight:50%;
}

.tabs{

  dd.active {
    a{
      background-color: #FFD34E;
    }

  }
}

.button {
  background-color: #BD4932;
}

.nav {
  background-color: #105B63;

}

nav.top-bar ul.title-area li.name {
    display: table-cell;
    vertical-align: middle;
    vertical-align: text-center;
    color: #ffffff;
    text-align:center;
    margin-right:10px;

  }
