<h2> Select Your Favorite Activities </h2>

<%= simple_form_for current_user do |f| %>
  <%= f.association :activities, as: :check_boxes,collection: Activity.all %>
  <%= f.submit 'Save Preferred Activities' %>
<% end %>

<% simple_form_for current_user do |f| %>
  <%= f.input :date, as: :date, start_year: Date.today.year - 90,
   end_year: Date.today.year - 12, discard_day: true, order: [:month, :year] %>
<% end %>
