<h2> Select Your Favorite Activities </h2>

<% @activities.each do |activity| %>
  <%= activity.name %>
<% end %>

<%= link_to "Add a new activity to the list", new_user_activity_path(current_user) %>
