<div class="small-12 small-centered columns">
  <center><h2> What do you like to do? </h2></center>
</div>


<%= simple_form_for current_user do |f| %>
    <ul class="small-block-grid-5">
      <% Activity.all.each do |activity| %>
        <li>
          <label class="checkbox button expand", >
            <%= check_box_tag 'user[activity_ids][]', activity.id, current_user.activities.include?(activity), class: "hide" %>
            <i class="fa fa-square-o"></i>
            <%=activity.name %>
          </label>
        </li>
<% end %>
    </ul>
    <input type="submit" class="button" value="Save Favorites" />
<% end %>


